@import url(https://fonts.googleapis.com/css?family=Dosis);

.title {
  font-family: 'Dosis', 'Lato', 'News Cycle' !important
}

.reveal section img {
  border: none;
  box-shadow: none
}

.author, .author h3 {
  color: #fff
}


.author img.me {
  float: right;
  max-width: 250px;
  clip-path: circle(46% at 50% 50%);
  -webkit-clip-path: circle(46% at 50% 50%)
}

.author ul li {
  list-style-position: inside;
  list-style-type: none
}

.black-bg {
  padding: 20px !important;
  background: rgba(0,0,0,0.5)
}

.white-bg {
  padding: 20px !important;
  background: rgba(255,255,255,0.1)
}

.white-text {
  color: #fff !important;
}

.no-dots ul li {
  list-style-type: decimal
}

.social, .social img {
  float: left;
  display: inline-block;
  vertical-align: top
}

code {
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
}